
<div class="menuWrap">
        <div class="background"></div>
        <div class="menuInner">
            <div class="languageWrap pull-right">
                <a href="#" class="language"><span class="circle">EN</span></a>
                <span class="stroke">|</span>
                <a href="#" class="language"><span class="circle">繁</span></a>
                 <span class="erp"><a href="#">LogOn CEC ERP System>></a></span>
            </div>
            
            <div class="logo">
                <span class="stockno">股份代號: 759 </span>
                 <a href="/0759/"><img src="/dist/assets/0759/img/LOGO.png"></a>
            </div>
            <ul class="menu">
                <span class="csstri"></span>
                <li>
                    <a href="/0759/about.html">關於我們</a>
                    <ul class="subMenu">
                        <li><a href="/0759/history.html">歷史及業務發展</a></li>
                        <li><a href="/0759/Manufacturing.html">電子元件製造業務</a></li>
                        <li><a href="/0759/organization.html">組織結構</a></li>
                        <li><a href="/0759/management.html">管理層</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="/0759/corpGovernance.html">企業管治</a>
                     <ul class="subMenu">
                      <li><a href="/0759/corpGovernance.html#top" onclick="showContent('aboutcec_content');">董事會</a></li>
                        <li><a href="http://www.0759.com/CECWEB/file/AuditCommittee-C-2016.pdf" target="_blank">審核委員會務</a></li>
                        <li><a href="http://www.0759.com/CECWEB/file/RemunerationCommittee-C-2012.pdf" target="_blank">薪酬委員會</a></li>
                        <li><a href="http://www.0759.com/CECWEB/file/NominationCommittee-C-2012.pdf" target="_blank">提名委員會</a></li>
                        <li><a href="http://www.0759.com/CECWEB/file/ProcedureForProposingDirectors-C-2012.pdf" target="_blank">提名董事人選之程序</a></li>
                        <li><a href="http://www.0759.com/CECWEB/file/ShareholdersCommunicationPolicy-C-2012.pdf" target="_blank">股東通訊政策</a></li>
                        <li><a href="/0759/corpGovernance.html#top" onclick="showContent('aboutcec_content1');">股東權利</a></li>
                        <li><a href="http://www.0759.com/CECWEB/file/MemorandumOfAssociationAndBye-laws-C-2012.pdf" target="_blank">組織章程大綱及公司細則</a></li>

                    </ul>
                </li>
                <li>
                    <a href="/0759/retail.html">零售業務</a>
                     <ul class="subMenu">
                            <li><a href="http://www.759store.com/cecweb/shop.html?brand=2&lang=cht">分店網絡</a></li>
                            <li><a href="http://www.759store.com/cecweb/blog.html?lang=cht">最新分店</a></li>
                            <li><a href="http://www.759store.com/cecweb/district.html?lang=cht">分店聯繫</a></li>
                            <li><a href="http://www.759store.com/cecweb/product.html?lang=cht">熱賣商品</a></li>
                            <li><a href="http://www.759store.com/cecweb/promotion.html?lang=cht">最新推介</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="/0759/invest.html">投資者關係</a>
                     <ul class="subMenu">
                        <li><a href="http://www.0759.com/CECWEB/News.aspx?lang=cht&newsType=announce&Menu=InvestorInfo">集團公佈</a></li>
                        <li><a href="http://www.0759.com/CECWEB/FinancialReport.aspx?lang=cht">集團財務</a></li>
                        <li><a href="http://www.0759.com/CECWEB/Prospectus.aspx?lang=cht">招股書</a></li>
                        <li><a href="http://www.0759.com/CECWEB/Circular.aspx?lang=cht">通函及其他</a></li>
                        <li><a href="http://www.0759.com/CECWEB/News.aspx?lang=cht&newsType=pressrelease&Menu=InvestorInfo">新聞稿發放</a></li>
                    </ul>
                </li>
                <li><a href="#">人才招聘</a></li>
                <li><a href="/0759/contact.html">聯絡我們</a></li>
            </ul>
        </div>
    </div>