<div class="clear"></div>
<div class="container menu1">
   
	<div class="footer_menu">
        <div style="font-size:14px"><h2 style="margin:0;font-weight:normal">網站地圖</h2></div>
    
		<ul>
			<li><h2>關於我們</h2></li>
			<li><a href="#">歷史及業務發展</a></li>
            <li><a href="#">電子元件製造業務</a></li>
            <li><a href="#">組織結構</a></li>
            <li><a href="#">管理層</a></li>
		</ul>	

		
		<ul>
			<li><h2>企業管治</h2></li>
			<li><a href="#">董事會</a></li>
            <li><a href="#">審核委員會務</a></li>
            <li><a href="#">薪酬委員會</a></li>
            <li><a href="#">提名委員會</a></li>
            <li><a href="#">提名董事人選之程序</a></li>
            <li><a href="#">股東通訊政策</a></li>
            <li><a href="#">股東權利</a></li>
            <li><a href="#">組織章程大綱及公司細則</a></li>
		</ul>
			
		<ul>
			<li><h2>投資者關係</h2></li>
			 <li><a href="http://www.0759.com/CECWEB/News.aspx?lang=cht&newsType=announce&Menu=InvestorInfo">集團公佈</a></li>
            <li><a href="http://www.0759.com/CECWEB/FinancialReport.aspx?lang=cht">集團財務</a></li>
            <li><a href="http://www.0759.com/CECWEB/Prospectus.aspx?lang=cht">招股書</a></li>
            <li><a href="http://www.0759.com/CECWEB/Circular.aspx?lang=cht">通函及其他</a></li>
            <li><a href="http://www.0759.com/CECWEB/News.aspx?lang=cht&newsType=pressrelease&Menu=InvestorInfo">新聞稿發放</a></li>
		
		</ul>

		<ul>	
			<li><h2 class="top25">零售業務</h2></li>
			<li><a href="http://www.759store.com/cecweb/shop.php?brand=2&lang=cht">分店網絡</a></li>
            <li><a href="http://www.759store.com/cecweb/blog.php?lang=cht">最新分店</a></li>
            <li><a href="http://www.759store.com/cecweb/district.php?lang=cht">分店聯繫</a></li>
            <li><a href="http://www.759store.com/cecweb/product.php?lang=cht">熱賣商品</a></li>
            <li><a href="http://www.759store.com/cecweb/promotion.php?lang=cht">最新推介</a></li>
		</ul>
		
		<ul>	
			<li><h2 class="top25">人才招聘</h2></li>
			<li><a href="contact.php">人才招聘</a></li>	
		</ul>
		
		<ul>	
			<li><h2 class="top25">聯絡我們</h2></li>
			<li><a href="contact.php">聯絡我們</a></li>	
		</ul>
	
		<ul>	
			<li><h2 class="top25">產品資料</h2></li>
			<li><a href="contact.php">產品資料</a></li>	
		</ul>
			
		<ul>	
			<li><h2>CSR·環境方針</h2></li>
			<li><a href="social.php">環境方針</a></li>
			<li><a href="social_safe.php">社區關系</a></li>
		</ul>
	</div>
	
</div>
    
    
    <div id="footer">
        <div class="footerTxt">
            <span class="pull-left">Copyright © 2005 - 2017 　‧　CEC International Holdings Limited　‧　 All rights reserved.</span>
            <span class="pull-right">
                <img src="/dist/assets/0759/img/envelope.png"><a href="mailto:info@ceccoils.com">info@ceccoils.com</a>
            
            <!--<a href="http://www.759store.com" target="_blank"></a>-->
            <a href="http://weixin.qq.com/r/s3VrczrEf2cArX4Q9yCh" target="_blank"><img src="/dist/assets/0759/img/wechatlogo.png"></a>
            <a href="http://goo.gl/mMFYG" target="_blank"><img src="/dist/assets/0759/img/android-logo.png"></a>
            <a href="http://goo.gl/9y9n8" target="_blank"><img src="/dist/assets/0759/img/apple.png"></a>
            <a href="https://www.facebook.com/759StoreHK" target="_blank"><img src="/dist/assets/0759/img/facebook.png"></a>
           
            </span>
        </div>
	</div>
	<script src="main.js" type="text/javascript"></script>
	</body>
</html>