
<head>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115032826-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'UA-115032826-1');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta itemprop="description" name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="apple-touch-icon-precomposed" href="/dist/assets/img/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/dist/assets/img/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/dist/assets/img/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/dist/assets/img/apple-touch-icon-152x152.png">
  
  <!--open graph-->
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:image" content="/dist/assets/img/favicon.png" />
  <meta property="og:site_name" content="Sali Chen | Personal portfolio">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    
  <!--twitter card-->
  <meta name="twitter:card" content="/dist/assets/img/favicon.png"/>
  <meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    
  <link rel="canonical" href="{{ page.url | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="https://salichen.com/feed.xml">
    
  <!--Bing-->
  <meta name="msvalidate.01" content="42DCEED266269937B0984A15B8C91B06" />
  <!--Baidu-->
  <meta name="baidu-site-verification" content="zKh4Y3cIm0" />
  
  <style>
    #load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("/dist/assets/img/Pacman.gif") no-repeat center center #222233;
  }
  </style>
  <script type="text/javascript">
  
    document.onreadystatechange = function () {
      var state = document.readyState;
      if (state == 'interactive') {
           document.getElementById('contents').style.visibility="hidden";
           
      } else if (state == 'complete') {
          setTimeout(function(){
             document.getElementById('interactive');
             document.getElementById('load').style.visibility="hidden";
             document.getElementById('contents').style.visibility="visible";
               
          },1000);
      }
    }
    
  </script>
  <link rel="icon" href="/dist/assets/img/favicon.png" type="image/png" />
  <link rel="apple-touch-icon" href="/dist/assets/img/favicon.png">
  <link rel="canonical" href="https://salichen.com">
 
  <link rel="stylesheet" href="{{ "/dist/css/main.css" | prepend: site.baseurl }}" >
  <link rel="stylesheet" href="{{ "/dist/css/fa-svg-with-js.css" | prepend: site.baseurl }}" >
  <script src="{{ "/dist/js/jquery-3.2.1.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/dist/js/fontawesome-all.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/dist/js/main.js" | prepend: site.baseurl }}"></script>
   <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
