/**
 * Site header
 */
.site-header {
   // border-top: 5px solid $grey-color-dark;
    //border-bottom: 1px solid $grey-color-light;
    height: 56px;
    line-height:56px;
    background:linear-gradient(#000, #222233 100%);
    padding:0 15px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 21px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color:#a8c5ff!important;
    &,
    &:visited {
        //color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    z-index:250;
    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        color:$grey-color-light;
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 5px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        // &:hover .trigger {
        //     display: block;
        //     padding-bottom: 5px;
        // }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
   .site-header {
       padding:0;
   }
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .comparison-slider-wrapper .comparison-slider .divider:after, .comparison-slider-wrapper .comparison-slider .divider.draggable:after{
        top:29.35%;
    }
    .featurein a {
        width:90px;
        img{
        max-width:90px;
    }
    }
    #myModal img{
        margin-top:40px;
    }
    .contactWrap .contactWrapBg .contact .title img{
        opacity:.25;
    }
    .leftSection .flex-center,.post>li{
    height:auto;
  }
    .post-meta .title{
        text-align:left!important;
    }
    .myName{
        font-size:2em;
        padding:0;
    }
    .flex-box{
        padding:0;
    }
    .workDes{
        width:100%;
        text-align:left;
    }
    .browser-mockup{
        width:80%;
    }
    // #myModal img{
    //     width:100%;
    //     max-width:300px;
    // }
    .introHome{
        #typedtext{
            min-width:300px;
            font-size:1.3em;
            padding-top:2%;
        }
    }
    .storyDes{
        text-align:left;
    }
    #myModal img{
    width:100%!important;
    max-width:300px;
}
    .contactWrap .contactWrapBg .contact form .mailWrap .name,.contactWrap .contactWrapBg .contact form .mailWrap .email,.contactWrap .contactWrapBg .contact form .mailWrap .submit{
        width:100%;
        margin-right:0px;
        max-height:50px;
        margin-top:10px;
    }
    .contactWrap .contactWrapBg .contact form textarea{
        margin-right:0px;
    }
    .browser-mockup {
        margin:auto auto;
        margin-bottom:20px;
    }
    .next, .prev{
        width:15px;
    }
     .slider{
          width:auto;
          min-width:auto;
    }
    .title{
    font-size:2em;
  }
  .skills {
      text-align:left;
      img{
      max-width:65px;
       max-height:65px;
      }
      span{
          margin-bottom:2%;
      }
  }
  .slider .instruction{
      min-width:280px;
      margin-left:-83px;
  }
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding:0;
     @include media-query($on-laptop) {
    padding: $spacing-unit 0;
     }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        padding:$spacing-unit*1.5 $spacing-unit/2;
        @include media-query($on-laptop) {
        padding: $spacing-unit $spacing-unit/2;
        }
        // margin-bottom: $spacing-unit*2;
        // height:100vh;
    }
}


.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}
 
.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
