<!DOCTYPE html>
<html lang="en-US">
  {% include head.html %}
  <body>
     <div id="load"></div>
   {% include header.html %}
    <div class="page-content" id="contents">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
  {% include footer.html %}
  <script src="{{ "/dist/js/scriptjs.js" | prepend: site.baseurl }}"></script>
  <script>
  (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
  })();
  </script>
  </body>
  
</html>
