--- 
layout: default 
title: Sali.Chen - personal website
---

<div class="home">
    {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
    {% endif %} {{ content }}

    <!--introduction-->
    <ul class="post-list">
        <li>
            <div class="post-meta intro">
                <div class="introHome">
                    <div class="selfintro" id="typedtext"></div>
                    <svg id="avatar" width="230px" height="332px" viewbox="2.42613 1.9318 216.581 312.983" preserveaspectratio="xMidYMid meet" xmlns:xlink="http://www.w3.org/1999/xlink"><rect id="svgEditorBackground" x="0" y="0" width="450" height="450"/>
                <g transform="matrix(0.1 0 0 -0.1 -113.488 383.94)" fill="#000000" stroke="none" id="e14_g">
                <path  fill="transparent" id="face" d="M2110 3781 c-206 -59 -314 -138 -394 -291 -47 -89 -64 -156 -76 -290 -12 -154 -25 -199 -111 -405 -31 -75 -33 -87 -34 -200 0 -112 2 -124 28 -177 54 -111 132 -148 307 -148 123 0 118 -3 173 106 l26 51 -57 60 c-83 86 -149 218 -166 334 l-7 44 21 -35 c52 -83 106 -121 174 -122 98 -2 169 55 201 160 9 31 18 63 21 70 4 13 52 16 70 4 6 -4 15 -23 19 -42 21 -99 76 -165 153 -185 83 -22 137 -2 201 72 33 39 39 43 35 23 -29 -126 -90 -245 -166 -323 l-58 -59 26 -51 c55 -108 53 -107 174 -107 65 0 126 6 156 15 66 19 126 72 155 137 21 47 24 68 24 173 -1 113 -3 125 -34 200 -86 205 -98 248 -111 405 -12 137 -29 201 -78 295 -92 175 -290 292 -512 301 -72 3 -111 0 -160 -15z m50 -532 c72 -70 189 -149 258 -175 67 -25 69 -30 15 -38 -26 -3 -68 -17 -92 -31 -58 -34 -114 -33 -177 2 -42 24 -64 28 -156 33 l-107 5 60 75 c33 41 76 101 97 132 20 32 38 58 38 58 1 0 30 -27 64 -61z"/>
                <path fill="transparent" id="outline" d="M1430 2091 c-73 -22 -142 -84 -180 -160 -46 -92 -50 -141 -50 -703 l0 -528 175 0 c160 0 175 2 175 18 1 42 29 324 32 327 2 3 17 -73 34 -168 l29 -172 605 0 605 0 29 172 c17 95 32 171 33 169 3 -3 33 -304 33 -333 0 -10 42 -13 175 -13 l175 0 0 528 c0 414 -3 541 -14 593 -35 165 -133 265 -271 276 -55 5 -66 2 -125 -30 -148 -81 -339 -125 -580 -133 -273 -10 -488 29 -677 121 -93 46 -142 54 -203 36z"/>
                </g></svg>
                </div>

            </div>
        </li>


        <!--About me-->
        <li>
            <div class="post-meta">
                <div>
                    <h2 class="title">{ <span class="var-highlight">About me </span>}</h2>
                    <div class="storyDes">
                        It all started with a small project of building a shopping website in university. I am fascinated by ecommerce ever since.
                        <br>Creating an interactive interface that engages with customers gives me satisfaction. Sometimes I feel like I am the interior desginer of the website.
                        <br>In my free time, I like reading research articles to enrich my ecommerce knowledge and get up-to-date with modern widgets.
                        <br>Below are some of services I provide:
                    </div>
                    <div></div>
                    <div class="boxWrapper">
                        <div class="flex-box">
                            <span class="iconQ">
                        <svg width="150px" height="113px" viewbox="50 95 412 312">
                           <g>
                              <path d="M265.229,364.383c-5.207-3.826-5.758-9.575-5.758-9.575l-1.951-12.473h-62.204l-1.957,12.473c0,0-0.544,5.749-5.748,9.575
                                 c-5.198,3.83-9.306,7.113-5.198,7.669c3.955,0.531,41.256,0.048,44.008,0c2.759,0.048,40.052,0.531,44.011,0
                                 C274.531,371.496,270.422,368.221,265.229,364.383z"/>
                              <path d="M120.538,259.694c0-5.77-4.681-10.451-10.452-10.451H60.453c-5.771,0-10.453,4.681-10.453,10.451v109.718
                                 c0,5.777,4.682,10.453,10.453,10.453h49.637c5.768,0,10.452-4.676,10.452-10.453V259.694H120.538z M80.085,261.002h10.451
                                 c0.722,0,1.306,0.583,1.306,1.3c0,0.724-0.584,1.312-1.306,1.312H80.085c-0.722,0-1.308-0.592-1.308-1.312
                                 C78.778,261.577,79.364,261.002,80.085,261.002z M84.875,373.685c-2.887,0-5.229-2.338-5.229-5.227
                                 c0-2.885,2.342-5.227,5.229-5.227c2.885,0,5.225,2.334,5.225,5.227C90.1,371.347,87.764,373.685,84.875,373.685z M114.009,358.968
                                 H56.531v-87.521h57.479V358.968z"/>
                              <path d="M447.343,189.137H339.846c-8.095,0-14.657,6.558-14.657,14.655v153.854c0,8.096,6.563,14.662,14.657,14.662h107.497
                                 c8.1,0,14.657-6.566,14.657-14.662V203.789C461.996,195.692,455.439,189.137,447.343,189.137z M372.548,364.153
                                 c-4.047,0-7.334-3.274-7.334-7.318c0-4.048,3.287-7.33,7.334-7.33c4.04,0,7.315,3.282,7.315,7.33
                                 C379.864,360.879,376.588,364.153,372.548,364.153z M393.591,364.153c-4.04,0-7.323-3.274-7.323-7.318
                                 c0-4.048,3.283-7.33,7.323-7.33c4.052,0,7.326,3.282,7.326,7.33C400.917,360.879,397.647,364.153,393.591,364.153z
                                 M414.654,364.153c-4.052,0-7.327-3.274-7.327-7.318c0-4.048,3.275-7.33,7.327-7.33c4.043,0,7.322,3.282,7.322,7.33
                                 C421.976,360.879,418.697,364.153,414.654,364.153z M452.839,342.986H334.35V201.954h118.489V342.986L452.839,342.986z"/>
                              <path d="M358.547,176.778h18.017v-32.629c0-6.639-5.379-12.014-12.014-12.014H88.287c-6.633,0-12.014,5.375-12.014,12.014v92.739
                                 h18.021v-86.736h264.253V176.778L358.547,176.778z"/>
                              <path d="M132.899,294.287v36.034h179.931v-36.034H132.899z M226.416,320.544c-4.548,0-8.24-3.693-8.24-8.24
                                 c0-4.546,3.692-8.239,8.24-8.239c4.549,0,8.24,3.693,8.24,8.239C234.656,316.85,230.965,320.544,226.416,320.544z"/>
                           </g>
                        </svg>
                     </span>
                            <span class="iconDes"><strong>Responsive Design</strong>Visually stunning designs that enable your brand with no geological boundaris or device limitations.
                     I build responsive ecommerce templates that drive sales.</span>
                        </div>
                        <div class="flex-box">
                            <span class="iconQ"><i class="fas fa-quidditch"></i></span>
                            <span class="iconDes"><strong>UI/UX</strong>Clean and foolproof desgins that provides your customers with intutive experience.
                     I help customers to navigate your site with ease and increase convertion rate.</span>
                        </div>
                        <div class="flex-box">
                            <span class="iconQ"><i class="fas fa-code"></i></span>
                            <span class="iconDes"><strong>Code & development</strong>Using modern development tools like git, Angular, jQuery, Bootstrap to build sites saves half the time and make it easy for maintanence.</span>
                        </div>
                        <div class="flex-box">
                            <span class="iconQ"><i class="fas fa-building"></i></span>
                            <span class="iconDes"><strong>SEO</strong>SEO-friendly website makes you stand out from others.Well-structured HTML abd best practise are crucial during development.</span>
                        </div>
                    </div>
                </div>
            </div>
        </li>


        <!--Skillset-->
        <li>
            <div class="post-meta">
                <h2 class="title">{ <span class="var-highlight">Skillset </span>}</h2>
                <div class="skills">
                    <div>
                        I use front-end technologies like Sass. gulp, NPM to speed up development. Combining with GIt, Agile/Scrum, I build a test/behaviour driven development that allows easy collaboration.
                    </div>
                    <span><img src="/dist/assets/logo/git.png" alt="git" /></span>
                    <span><img src="/dist/assets/logo/bootstrap.png" alt="bootstrap" /></span>
                    <span><img src="/dist/assets/logo/jquery.png" alt="jquery" /></span>
                    <span><img src="/dist/assets/logo/nodejs.png" alt="nodejs" /></span>
                    <span><img src="/dist/assets/logo/mysql.png" alt="mysql" /></span>
                    <span><img src="/dist/assets/logo/php.png" alt="php" /></span>
                    <span><img src="/dist/assets/logo/js.png" alt="js" /></span>
                    <span><img src="/dist/assets/logo/css3.png" alt="css3" /></span>
                    <span><img src="/dist/assets/logo/html5.png" alt="html5" /></span>
                    <span><img src="/dist/assets/logo/sass.png" alt="sass" /></span>
                    <span><img src="/dist/assets/logo/json.png" alt="json" /></span>
                    <span><img src="/dist/assets/logo/laravel.png" alt="laravel" /></span>
                    <span><img src="/dist/assets/logo/angularjs.png" alt="angularjs" /></span>
                    <span><img src="/dist/assets/logo/npm.png" alt="npm" /></span>
                    <span><img src="/dist/assets/logo/gulp.png" alt="gulp" /></span>
                </div>
            </div>
        </li>

        <!--work & experience-->
        <li>
            <div class="post-meta">

                <h2 class="title">{ <span class="var-highlight">Work & experience</span> }</h2>
                <div class="workDes">
                    <div>
                        <span class="fontSize">2015-2017:</span><br><em>Hong Kong retail chain stores 759</em><br>
                        <ul>
                            <li>helped build its first online shopping platform (from layout to coding)</li>
                            <li>handle various projects and gained in-depth knowledge about business strategies</li>
                            <li>Desgined coupon system for customers to active and use in stores</li>
                        </ul>
                    </div>
                    <div>
                        <span class="fontSize">2017-current:</span><br><em>Japanese ecommerce Cosme De Net</em><br>
                        <ul>
                            <li>gained exposure to internation market (global,austrlia.united kingdom,Hong Kong & China) </li>
                            <li>helped to revamp part of the website layout and boosted sales</li>
                            <li>led development of two backend promotion tools that saved manpower and streamlined operations</li>
                            <li>have the ownership of the website promotions(layout/logic/coding)</li>
                            <li>participated in the new revamped website and helped migration</li>
                        </ul>
                    </div>

                    <div class="featurein">
                        <span>Featured in:</span><br>
                        <a href="https://news.mingpao.com/pns/dailynews/web_tc/article/20160114/s00004/1452707882365" target="_blank" rel="noopener"><img src="/dist/assets/logo/mingpao.png" alt="mingpao" /></a>
                        <a href="https://hk.finance.yahoo.com/news/%E3%80%90%E6%BF%80%E6%88%B0%E7%B6%B2%E8%B3%BC%E3%80%91%E3%80%8C759online%E3%80%8D90%E5%BE%8C%E5%9C%98%E9%9A%8A%E9%A0%82%E7%A1%AC%E4%B8%8A-020058481.html" target="_blank" rel="noopener"><img src="/dist/assets/logo/yahoo.png" alt="yahoo finance" /></a>
                        <a href="http://www.groupbuya.com/jetso/125432" target="_blank" rel="noopener"><img src="/dist/assets/logo/groupbuya.png" alt="groupbuya" /></a>
                        <a href="http://www.jetsoclub.com/2016/03/759-store-offer-0309.html" target="_blank" rel="noopener"><img src="/dist/assets/logo/jetso.png" alt="jetso" /></a>
                    </div>
                </div>
                <div class="slider">
                    <div class="container">
                        <div class="carousel">
                            <div class="item 1"><img src="/dist/assets/img/a.png" alt="cosmede-flashsales"></div>
                            <div class="item 2"><img src="/dist/assets/img/b.png" alt="cosmede-flashsales"></div>
                            <div class="item 3"><img src="/dist/assets/img/c.jpg" alt="cosmede-flashsales"></div>
                            <div class="item 4"><img src="/dist/assets/img/d.jpg" alt="759online"></div>
                            <div class="item 5"><img src="/dist/assets/img/e.jpg" alt="759online"></div>
                            <div class="item 6"><img src="/dist/assets/img/f.png" alt="759online"></div>
                        </div>
                    </div>
                    <span class="next">›</span>
                    <span class="prev">‹</span>
                    <div class="instruction">←Swipe left/right on slider→</div>
                </div>
                <br>
                <div><span class="workAction">See some of my work in action!<i class="fas fa-angle-double-down"></i></span></div>

            </div>
        </li>

        <!--portfolio-->
        <li>
            <div class="post-meta">
                <div class="browser-mockup with-tab" id="1">
                    <div class="pop">
                        <div class="bgOpac"></div>
                        <button class="compare">Before & After</button>
                        <a href="/test(3)(1).html" target="_blank" rel="noopener"><button>Demo</button></a>
                    </div>
                    <div class="grid">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                    <div class="arrowBar">
                        <span class="left">&nbsp;&nbsp;‹</span>
                        <span class="right">›&nbsp;&nbsp;</span>
                    </div>
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <div class="browserDes">COSME-DE.COM<br>Website Revamp/Development<br>Mainpage</div>
                </div>



                <div class="overlayTop" id="11">
                    <div class="comparison-slider-wrapper wrapper">
                        <div class="close">&#10006;</div>
                        <div class="caption">Project details:<br>I was asked to renew the mainpage layout for November promotion campaigns.I added flashsales,brands and hot deals products part to stimulate customers' sales drive.
                            <br><strong><u>Result:November has the highest sales recorded since 2008 which is over USD 3 Million.</u></strong>
                            <br><span class="instruction">←Swipe left/right on slider→</span></div>
                        <div class="comparison-slider">
                            <div class="overlay"><strong>After</strong></div>
                            <img src="/dist/assets/img/flashafter.png" alt="cosmede-flashsales">
                            <div class="resize">
                                <div class="overlay"><strong>Before</strong></div>
                                <img src="/dist/assets/img/flashbefore.png" alt="cosmede-mainapge">
                            </div>
                            <div class="divider">
                                <span class="arrow"><i class="fas fa-arrows-alt-h"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="browser-mockup with-tab" id="2">
                    <div class="pop">
                        <div class="bgOpac"></div>
                        <button class="compare">Before & After</button>
                        <a href="http://www.cosme-de.com/en/promotion/beauty-combo.html" target="_blank" rel="noopener"><button>Demo</button></a>
                    </div>
                    <div class="grid">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                    <div class="arrowBar">
                        <span class="left">&nbsp;&nbsp;‹</span>
                        <span class="right">›&nbsp;&nbsp;</span>
                    </div>
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <div class="browserDes">COSME-DE.COM<br>Website Revamp/Development<br>Beauty-Combo</div>
                </div>



                <div class="overlayTop" id="22">
                    <div class="comparison-slider-wrapper wrapper">
                        <div class="close">&#10006;</div>
                        <div class="caption">Project details:<br>I was asked to revamp buy-and-get page into more enchating layout.After understanding the product position and target audience,I redesgined and developed the interface.
                            <br><strong><u>Result:Bundle sales was boosted by 100%.</u></strong>
                            <br><span class="instruction">←Swipe left/right on slider→</span></div>
                        <div class="comparison-slider">
                            <div class="overlay"><strong>After</strong></div>
                            <img src="/dist/assets/img/bundleafter.png" alt="cosmede-beautycombo">
                            <div class="resize">
                                <div class="overlay"><strong>Before</strong></div>
                                <img src="/dist/assets/img/bundlebefore.png" alt="cosmede-buyandget">
                            </div>
                            <div class="divider">
                                <span class="arrow"><i class="fas fa-arrows-alt-h"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="browser-mockup with-tab" id="3">
                    <div class="pop">
                        <div class="bgOpac"></div>
                        <button class="compare" onclick="openModal();currentSlide(1)">See more</button>
                        <a target="_blank" rel="noopener" href="https://www.759online.com"><button>Demo</button></a>
                    </div>
                    <div class="grid">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                    <div class="arrowBar">
                        <span class="left">&nbsp;&nbsp;‹</span>
                        <span class="right">›&nbsp;&nbsp;</span>
                    </div>
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <div class="browserDes">759ONLINE.COM<br>Website Launch/Development</div>
                </div>


                <div id="myModal" class="modal">
                    <span class="close cursor" onclick="closeModal()">&times;</span>
                    <div class="modal-content">
                        <div class="numbertext">
                            Project details:<br>I was asked to build 759's first ecommerce website,including design and development. Besdies, I also built social media platform (website blog, facebook, instagram, youtube, twitter, tumblr).
                            <br><strong><u>Result:Created targeted blog content helped growing traffic by 20%</u></strong>
                        </div>
                        <div class="mySlides">
                            <div class="numbertext">1 / 6</div>
                            <img src="/dist/assets/img/lastesthome.jpg" alt="759online">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">2 / 6</div>
                            <img src="/dist/assets/img/lastestcat.jpg" alt="759online">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">3 / 6</div>
                            <img src="/dist/assets/img/mobileHome.jpg" alt="759online">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">4 / 6</div>
                            <img src="/dist/assets/img/mobileProduct.jpg" alt="759online">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">5 / 6</div>
                            <img src="/dist/assets/img/e.jpg" alt="759online">
                        </div>

                        <div class="mySlides">
                            <div class="numbertext">6 / 6</div>
                            <img src="/dist/assets/img/7591st.png" alt="759online">
                        </div>

                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>

                        <div class="caption-container">
                            <p id="caption"></p>
                        </div>


                        <div class="column">
                            <img class="demo cursor" src="/dist/assets/img/lastesthome.jpg" onclick="currentSlide(1)" alt="Desktop mainpage layout">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="/dist/assets/img/lastestcat.jpg" onclick="currentSlide(2)" alt="Desktop category layout">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="/dist/assets/img/mobileHome.jpg" onclick="currentSlide(3)" alt="Device mainpage layout">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="/dist/assets/img/mobileProduct.jpg" onclick="currentSlide(4)" alt="Device category layout">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="/dist/assets/img/e.jpg" onclick="currentSlide(4)" alt="Desktop mainpage layout 2nd version">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="/dist/assets/img/7591st.png" onclick="currentSlide(4)" alt="Desktop mainpage layout 1st version">
                        </div>
                    </div>
                </div>

                <div class="browser-mockup with-tab" id="4">
                    <div class="pop">
                        <div class="bgOpac"></div>
                        <button class="compare">Before & After</button>
                        <a href="https://work-salichen.c9users.io" target="_blank" rel="noopener"><button>Demo</button></a>
                    </div>
                    <div class="grid">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                    <div class="arrowBar">
                        <span class="left">&nbsp;&nbsp;‹</span>
                        <span class="right">›&nbsp;&nbsp;</span>
                    </div>
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <div class="browserDes">0759.COM<br>Website Revamp/Development</div>
                </div>



                <div class="overlayTop" id="44">
                    <div class="comparison-slider-wrapper wrapper">
                        <div class="close">&#10006;</div>
                        <div class="caption">Project details:<br>I was asked to revamp company website and give it a modern touch.
                            <br><strong><u>Result:I left the company before rolling out. Project is on hold since then.</u></strong>
                            <br><span class="instruction">←Swipe left/right on slider→</span></div>
                        <div class="comparison-slider">
                            <div class="overlay"><strong>After</strong></div>
                            <img src="/dist/assets/img/0759after.png" alt="marioPhoto 2">
                            <div class="resize">
                                <div class="overlay"><strong>Before</strong></div>
                                <img src="/dist/assets/img/0759before.png" alt="marioPhoto 1">
                            </div>
                            <div class="divider">
                                <span class="arrow"><i class="fas fa-arrows-alt-h"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="browser-mockup with-tab" id="5">
                    <div class="pop" id="tumblr">
                        <div class="bgOpac"><span>759online tumblr<br>Website Launch/development</span></div>
                        <a href="http://759online.tumblr.com/" target="_blank" rel="noopener"><button>Go to website</button></a>
                    </div>
                    <img src="/dist/assets/img/759onlineTumblr.png" alt="759online tumblr">
                </div>

                <div class="browser-mockup with-tab" id="6">
                    <div class="pop" id="app">
                        <div class="bgOpac"><span>759online app<br>App review/Analytics</span></div>
                        <a href="https://play.google.com/store/apps/details?id=com.ceccoils.online759&hl=en" target="_blank" rel="noopener"><button>Go to app</button></a>
                    </div>
                    <img src="/dist/assets/img/onlineapp.jpg" alt="759online">
                </div>
            </div>
        </li>




        <!--contact me-->
        <li>
            <div class="post-meta">
                <div class="leftSection">
                    <div class="flex-center">
                        <div class="contactWrap">
                            <div class="contactWrapBg">
                                <div class="contact">
                                    <h2 class="title">{Contact me}<img src="/dist/assets/logo/stamp.jpg" alt="stamp"></h2>
                                    <div class="subline">If you have enquires or new projects for me,please leave a message and I will get back to you in no time.</div>
                                    <form action="https://getsimpleform.com/messages?form_api_token=6db95cc7a9f024e517bcfdbb04ceddf2" method="post">
                                        <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                                        <input type="hidden" name="redirect_to" value="https://random-salichen.c9users.io/index.html" aria-labelledby="redirect"/>
                                        <!-- all your input fields here.... -->
                                        <div class="row mailWrap">
                                            <input type="text" name="subject" placeholder="Subject" class="subject" aria-labelledby="Subject"/>
                                        </div>
                                        <div class="row mailWrap">
                                            <input type="text" name="name" placeholder="Name" class="name" aria-labelledby="Name"/>
                                            <input type="email" name="email" placeholder="Email" class="email" aria-labelledby="Email"/>
                                        </div>
                                        <br>
                                        <div class="row mailWrap">
                                            <textarea name="message" placeholder="Message" class="message"></textarea>
                                            <input type="submit" value="Send" class="submit" aria-labelledby="Submit"/>
                                        </div>
                                        <div class="row submitWrap">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>


    </ul>
</div>

